
body {
    background-color: rgb(8, 202, 173);
}
section {
    background-color: #eeeeee;
  }
  .card .card-body img {
    width: 200px;
    
  }
  .main-btn {
    background-color:  rgb(8, 202, 173);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
  }
   .hayat {
   background-color:  rgb(8, 202, 173);
  }